VITE_SUPABASE_URL=https://ccfnamosvsjdnwkargvk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_KsIC4O5K_ezpfjzrA-X1oA_GEVmQOAU
VITE_GROQ_API_KEY=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